

.hero{
  margin: 5px auto;
  height: 90vh;
  width: 90%;
  box-shadow: 2px 2px 10px black;
  border-radius:5px;
  position: relative;
  overflow: hidden;
}

.imgs{
	position: absolute;
	z-index: -10;
	width:100%;
	top: -40%;
	right: 0;
	bottom: 0;
	left: 0;
}

.redCube{
	position: absolute;
	z-index: -9;
	top: -100px;
	left: -250px;
	transform: rotate(40deg);
	width: 350px;
	height: 450px;
	
	border-radius: 30%;
	border-bottom-right-radius: 0;
	background: rgba(179,0,36,1);
	background: -moz-linear-gradient(45deg, rgba(179,0,36,1) 0%, rgba(179,0,36,1) 34%, rgba(255,51,71,1) 62%, rgba(250,113,124,1) 99%, rgba(250,113,124,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(179,0,36,1)), color-stop(34%, rgba(179,0,36,1)), color-stop(62%, rgba(255,51,71,1)), color-stop(99%, rgba(250,113,124,1)), color-stop(100%, rgba(250,113,124,1)));
	background: -webkit-linear-gradient(45deg, rgba(179,0,36,1) 0%, rgba(179,0,36,1) 34%, rgba(255,51,71,1) 62%, rgba(250,113,124,1) 99%, rgba(250,113,124,1) 100%);
	background: -o-linear-gradient(45deg, rgba(179,0,36,1) 0%, rgba(179,0,36,1) 34%, rgba(255,51,71,1) 62%, rgba(250,113,124,1) 99%, rgba(250,113,124,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(179,0,36,1) 0%, rgba(179,0,36,1) 34%, rgba(255,51,71,1) 62%, rgba(250,113,124,1) 99%, rgba(250,113,124,1) 100%);
	background: linear-gradient(45deg, rgba(179,0,36,1) 0%, rgba(179,0,36,1) 34%, rgba(255,51,71,1) 62%, rgba(250,113,124,1) 99%, rgba(250,113,124,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b30024', endColorstr='#fa717c', GradientType=1 );
}

nav{
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	border-bottom: 1px solid lightgray;
}

nav ul{
	display: flex;
	align-items: center;
	justify-content: center;
	height: inherit;
	margin:0;
	padding:0;
	height: inherit;
}

nav ul li{
	display: flex;
	align-items: center;
	justify-content: center;
	height: inherit;
	margin:0;
	padding:0;
	height: inherit;

}

nav ul li a{
	display: flex;
	align-items: center;
	justify-content: center;
	
	color: rgba(179,0,36,1);
	text-decoration:none;
	height: inherit;
	padding:0px 20px;
	font-weight: 700;
	transition: all .2s;
	/*border-radius: 3px;*/
}


nav ul li a:hover{
	background: #f1f1f1;
	color:red;
	transition: all .2s;
}

.clockSeccion{
	width:100%;
	height: calc(100vh - 50px);
	margin:auto;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	color: white;	
  	min-height:300px;

}

.clock{
	margin-left: 200px;
}

.clockText{
	font-size: 3em;
	margin:0;
	padding:0;
}

.clockText_2{
	margin:0;
	padding:0;
}

.crono{
	font-size: 5em;
	margin:0;
	padding:0;
}

.love {
  position: absolute;
  opacity: .3;
  width: 600px;
  height: 600px;
  transform: rotate(45deg);
  background: pink;
  right: 5em;
  bottom: -18em;
}

.love:before,
.love:after {
  content: "";
  height: 600px;
  width: 600px;
  border-radius: 50%;
  background: pink;
  position: absolute;
}

.love:before {
  top: 0;
  left: -300px;
}

.love:after {
  top: -300px;
}

.circule{
	height: 200px;
	width: 200px;
	position: absolute;
	bottom:-2em;
	right: -2em;
	border-radius: 50%;
	background: rgba(179,0,36,1);
	background: -moz-linear-gradient(45deg, rgba(179,0,36,1) 0%, rgba(179,0,36,1) 34%, rgba(255,51,71,1) 62%, rgba(250,113,124,1) 99%, rgba(250,113,124,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(179,0,36,1)), color-stop(34%, rgba(179,0,36,1)), color-stop(62%, rgba(255,51,71,1)), color-stop(99%, rgba(250,113,124,1)), color-stop(100%, rgba(250,113,124,1)));
	background: -webkit-linear-gradient(45deg, rgba(179,0,36,1) 0%, rgba(179,0,36,1) 34%, rgba(255,51,71,1) 62%, rgba(250,113,124,1) 99%, rgba(250,113,124,1) 100%);
	background: -o-linear-gradient(45deg, rgba(179,0,36,1) 0%, rgba(179,0,36,1) 34%, rgba(255,51,71,1) 62%, rgba(250,113,124,1) 99%, rgba(250,113,124,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(179,0,36,1) 0%, rgba(179,0,36,1) 34%, rgba(255,51,71,1) 62%, rgba(250,113,124,1) 99%, rgba(250,113,124,1) 100%);
	background: linear-gradient(45deg, rgba(179,0,36,1) 0%, rgba(179,0,36,1) 34%, rgba(255,51,71,1) 62%, rgba(250,113,124,1) 99%, rgba(250,113,124,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b30024', endColorstr='#fa717c', GradientType=1 );
}

.section_text{
	color: rgba(179,0,36,1);
	font-size: 5em;
	margin:0;
	padding:0;
}
.wrapper_teAmo{
  margin-top: 50px;
  padding-bottom:20px;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  background:#f5f5f5;
  /*position: relative;*/
  background-image: url('img/heart.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*.img_hearts{
	height: 100%;
	width:100%;
	position:absolute;
}*/

.teAmo{
  margin: 5px auto;
  width: 90%;
  display:flex;
  flex-wrap: wrap;
}

.letter{
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid white;
	border-radius:6px;
	box-sizing: border-box;
	height: 300px;
	width:33%;
	font-size:4em;
	font-weight: 800;
	color: linear-gradient(45deg, rgba(179,0,36,1) 0%, rgba(179,0,36,1) 34%, rgba(255,51,71,1) 62%, rgba(250,113,124,1) 99%, rgba(250,113,124,1) 100%);
	position:relative;
	overflow:hidden;
}

.img_teAmo{
	position: absolute;
	height: 100%;
	width: auto;
	transition: all 1s;
	
}

.letter:hover > .img_teAmo{
	transition: all 1s;
	display: none;
}

.footer{
	padding:10px 25px;
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	justify-content: space-between;
	position: relative;
	overflow: hidden;
	background: rgba(179,0,36,1);
	background: -moz-linear-gradient(45deg, rgba(179,0,36,1) 0%, rgba(179,0,36,1) 34%, rgba(255,51,71,1) 62%, rgba(250,113,124,1) 99%, rgba(250,113,124,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(179,0,36,1)), color-stop(34%, rgba(179,0,36,1)), color-stop(62%, rgba(255,51,71,1)), color-stop(99%, rgba(250,113,124,1)), color-stop(100%, rgba(250,113,124,1)));
	background: -webkit-linear-gradient(45deg, rgba(179,0,36,1) 0%, rgba(179,0,36,1) 34%, rgba(255,51,71,1) 62%, rgba(250,113,124,1) 99%, rgba(250,113,124,1) 100%);
	background: -o-linear-gradient(45deg, rgba(179,0,36,1) 0%, rgba(179,0,36,1) 34%, rgba(255,51,71,1) 62%, rgba(250,113,124,1) 99%, rgba(250,113,124,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(179,0,36,1) 0%, rgba(179,0,36,1) 34%, rgba(255,51,71,1) 62%, rgba(250,113,124,1) 99%, rgba(250,113,124,1) 100%);
	background: linear-gradient(45deg, rgba(179,0,36,1) 0%, rgba(179,0,36,1) 34%, rgba(255,51,71,1) 62%, rgba(250,113,124,1) 99%, rgba(250,113,124,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b30024', endColorstr='#fa717c', GradientType=1 );

}

.message{
	display:flex;
	justify-content: center;
	flex-direction: column;
	flex-grow: 1;
	width:25%;
	text-align: justify;
	z-index: 1;
	color:white;
	margin: 20px;
}

.años{
	margin:auto;
	display:flex;
	justify-content: center;
	flex-direction: column;
	text-align: justify;
	color :white;
}

.clock_container{
	display: flex;
	justify-content:space-between;
	align-items: center;
	position: relative;
	z-index: 2;
}

.time_container{
	width:100px;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	margin:10px;
	border: 1px solid white;
	border-radius: 6px;
	color:black;
	font-size: 1.2em;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 83%, rgba(209,209,209,1) 94%, rgba(209,209,209,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(83%, rgba(237,237,237,1)), color-stop(94%, rgba(209,209,209,1)), color-stop(100%, rgba(209,209,209,1)));
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 83%, rgba(209,209,209,1) 94%, rgba(209,209,209,1) 100%);
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 83%, rgba(209,209,209,1) 94%, rgba(209,209,209,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 83%, rgba(209,209,209,1) 94%, rgba(209,209,209,1) 100%);
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(237,237,237,1) 83%, rgba(209,209,209,1) 94%, rgba(209,209,209,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d1d1d1', GradientType=0 );
}

.time_container h1{
	margin:0px;
}

.contacto{
	margin: auto;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
	padding:30px;
	color:white;
}

.contacto h6, h1{
	margin: 5px;
}

.contact{
	height: 25px;
	width:25px;
	fill:white;
	color:white;
	margin-left:20px;
}

.love1 {
  width: 50px;
  height: 50px;
  transform: rotate(45deg);
  background: red;
  position: absolute;
  bottom: 20px;
  right: 25px;
}

.love1:before,
.love1:after {
  content: "";
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: red;
  position: absolute;
}

.love1:before {
  top: 0;
  left: -25px;
}

.love1:after {
  top: -25px;
}


@media (max-width: 767px) {
	.imgs{
		top:0;
		height: auto;
	}

	.love{
		height: 300px;
		width: 300px;
		bottom: 0;
		top: 300px;
	}

	.love:before,
	.love:after {
		height: 300px;
		width: 300px;
	}

	.love:before {
		top: 0;
		left: -150px;
	  }
	  
	  .love:after {
		top: -150px;
	  }


	  .footer{
		  flex-direction: column;
		  align-items: center;
	  }

	  .años{
		  align-items: center;
	  }

	  .contacto{
		  border: none;
		  padding:20px;
	  }

	  .message{
		  width:50%;
		  text-align: center;
		  margin: auto;
	  }
}

@media (max-width: 525px) {
	.imgs{
		height: 100%;
		width: auto;
	}

	.letter{
		height: 200px;
		font-size: 2em;
	}

	.años{
		width: 100%;
	}

	.clock_container{
		width: 100%;
		overflow:scroll;
	}

	.clockText_2{
		margin: auto;
	}

	.time_container{
		min-width: 100px;
		min-height: 100px;

	}

	.section_text{
		font-size: 3em;
	}

	.message{
		width: 90%;
	}
}

@media (max-width: 425px) {
	
	.imgs{
		left: -30px;
	}
	
}


@media (max-width: 375px) {
	.letter{
		height: 150px;
	}
	
	.imgs{
		left: -120px;
	}
	
}